// Шрифты
$main-font: 'Inter', sans-serif;

// Основные цвета
$main-color  : #F7F8FA;
$accent-color: #D1F95D;
$danger-color: #F26060;
$white       : #FFFFFF;
$grey-100    : #F7F9FA;
$grey-200    : #D2D2D2;
$grey-300    : #CCCDCE;
$grey-400    : #BFC0C1;
$grey-500    : #B8B9BA;
$grey-600    : #B6B7B8;
$black       : #1E1E1E;

// Разрешения
$tablet : 768px;
$desktop: 1280px;