// Шрифты
// $main-font: 'Helvetica Neue Cyr', sans-serif;

// Основные цвета
// $main-color: #F0622C;
// $accent-color: #FAF6F5;
$black: #000000;
$white: #FFFFFF;

// Разрешения
$tablet : 768px;
$desktop: 1280px;